@use "./bg" as *;
@use "./borders" as *;

.btn-p{
    background: linear-gradient(45deg, $bg-hover-primary rgb(71, 137, 175), rgb(142, 4, 255) ) repeat-y;
    padding: .5em;
    width: 2em;
    height: 1.2em;
    border-radius:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    border: $border-primary;
    &:hover{
    background: linear-gradient(45deg, $bg-hover-secondary, rgb(208, 202, 208), rgb(4, 252, 210) ) repeat-y ;
    border: $border-secondary;
    }
}


.btn-s{
    padding: .5em;
    background: linear-gradient(45deg, $bg-hover-secondary, rgb(208, 202, 208), rgb(45, 49, 255) ) repeat-y ;
    border: $border-secondary;
    width: 2em;
    height: 1.2em;
    border-radius:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    &:hover{
    background: linear-gradient(45deg, $bg-hover-primary rgb(255, 172, 255), rgb(6, 135, 255) ) repeat-y;
    border: $border-primary;
    
    }
}

.btn-transparent{
    background: transparent;
    border: 2px solid $border-primary;
    border-radius:  15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    &:hover{
    background: $bg-hover-secondary;
    border: none;
        
        }

}

