@use '../../../public/scss/bg' as *;
@use '../../../public/scss/borders' as *;

.Rooms{
    inset:  0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $bg-body;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    min-height: 100vh;
    //close room box
    .close-map-box{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex-grow: 0;
        background: transparent;
        .btn-close-box{
        border: 1px solid red !important;
        height: 5vw !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw !important;
        border-radius: 50% !important;
        .close-btn{
            font-size: 1.5rem;
            cursor: pointer;
            color: $color-primary;
            &:hover{
                color: $color-danger; 
            }
        }
    }
    }
    //rooms box
 #rooms-box {
    flex: 1 1 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    flex-wrap: wrap;
    .room-card{
        transition: all .5s ease-in-out;
        box-shadow: 5px 5px rgb(138, 136, 136);
        background: $bg-body;
        cursor: pointer;
        border-radius: 15px !important;
        margin: .3rem;
        height: 350px !important;
        &:hover {
                background: $bg-hover-secondary; 
        }
        .line{
            width: 100%;
            height: 5px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .line-success{
            background: green;

        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .room-name{
                flex-wrap: wrap;
                flex-shrink: 1;
                height: fit-content;
            }
        .status-btns{
            border-top:  1px solid $bg-hover-secondary;
            .danger-btn{
                background: red;
                cursor: auto;
                color: white !important;
               
            }
            .btn{
                border-radius: 1rem;
                transition: all .5s ease-in-out ;
            }
            div{
                .free-btn{
                    background: green;
                    color: white !important;
                    cursor: auto;
                }
                .booking-btn{
                    border:  1px solid green;
                    border-left: 5px solid green;
                    border-right: 5px solid green;
                    background: white;
                    color: green !important;
                    cursor: pointer;
                    &:hover{
                        background: green !important;
                        color: white !important;
                    }
                }
            }

        }

        }  
    }
}

}
