@use "../../../public/scss/bg" as *;
@use "../../../public/scss/borders" as *;

.footer {
  background: $bg-body;
  position: inherit;
  pointer-events: none;
  border-top: 1px solid $color-secondary;
  transition: all 0.5s ease-in-out;
  opacity: 1 !important;
  height: fit-content;
  color: $color-primary;
  .copy-right {
    opacity: 0.5;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
    color: $color-black;
    font-weight: bold;
    p {
      display: flex;
      align-items: center;
    }
  }
}