@use "../public/scss/bg" as *;

.app {
  position: relative;
  inset: 0;
  font-family: "Poppins" sans-serif !important;
  background: transparent;
  overflow-y: auto;
  .alinks {
    background: $bg-body cover;
  }
}

.back-to-top {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 37px;
    background: $bg-gradient-primary-to-secondary;
    border-radius: 3px;
    span {
      color: #f2f2f2;
      font-size: 25px;
      line-height: 39px;
      cursor: pointer;
    }
    svg {
      color: #f2f2f2;
      font-size: 25px;
      line-height: 39px;
      cursor: pointer;
    }
  }
}