@use "../../../public/scss/bg" as *;
@use "../../../public/scss/borders" as *;

.comment-section {
  display: flex;
  flex-wrap: wrap-reverse;
}
.verified {
  border-radius: 2rem;
}
.form-enquiry {
  textarea {
    &:focus {
      box-shadow: none !important;
    }
  }
  input {
    background: rgba(216, 216, 216, 0.474);
    outline: none;
    color: $color-primary !important;
    border-radius: 10px;
    font-weight: bold;
    &:focus {
      border: 1px solid rgba(173, 173, 173, 0.737);
      background: white;
      box-shadow: none;
    }
  }
}
.contacts {
  border-top: none !important;
  flex: 1 1 40%;
  border: 1px solid rgba(4, 112, 9, 0.894);
  border-radius: 1rem;
  padding: 1rem;
  a {
    border-radius: 15px;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1.2rem;
    }
  }
}
